@font-face {
    font-family: "Goldoni";
    src: url('goldoni.woff2') format('woff2'),
         url('goldoni.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "notcouriersansregular";
    src: url('notcouriersansregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

	}
@font-face {
    font-family: "Malnorsans";
    src: url("malnorsansdemo-thin.woff2") format("woff2"),
         url("malnorsansdemo-thin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
	background-color: #ffffff;
	text-transform: uppercase;
	font-family: "notcouriersansregular";
    overflow: hidden;
}
nav {
		position: fixed;
		z-index: 4;
		margin-top: 1%;
		margin-left: 2%;
		background-color: transparent;
		font-family: "notcouriersansregular";
}
content {
	z-index: 2;
	position: static;
	padding: 1%;
	background-color: #ffffff;
	font-size: 22px;
}
object {
  z-index: 2;
  position: fixed;
  margin-top: -150px;
  min-width: 98.5%;
  min-height: 115%;
}
/* TEXT FORMATTING */
a {
	font-size: 16px;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}
/* GALLERY */
* {
  box-sizing: border-box;
}

/*			================		 MEDIA  		================	*/
@media screen and (min-width: 1px) and (max-width: 1550px) {
		html {
			font-size: 2vw;
}
		content {	
			display: block;
			position: relative;	
  			margin-top: -30%;
			margin-left: 18%;
			float: auto;
			width: 100%;
			min-height: 1000%;
			padding: 5% 0% 10% 0%;
			overflow: hidden!important;
}
			object {
		 	 z-index: 2;
 			 position: fixed;
/*			margin-top: -60%!important;*/
			padding-top: 20%;
			 min-width: 150%;
			 overflow: hidden!important;
}
		nav {
			position: relative;	
			float: auto;
			margin-top: -15px;
			margin-left: 0;
			padding-top: 2%;
			padding-bottom: 1%;
			min-width: 100%;
}
}
