@font-face {
		font-family: "Goldoni";
		src: url('goldoni.woff2') format('woff2'),
			 url('goldoni.woff') format('woff');
		font-weight: normal;
		font-style: normal;

}
@font-face {
		font-family: "notcouriersansregular";
		src: url('notcouriersansregular.woff') format('woff');
		font-weight: normal;
		font-style: normal;

}
@font-face {
		font-family: "Malnorsans";
		src: url("malnorsansdemo-thin.woff2") format("woff2"),
			 url("malnorsansdemo-thin.woff") format("woff");
		font-weight: normal;
		font-style: normal;
}
@font-face {
    font-family: "amikoregular";
    src: url('Amiko-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
html {
	  font-family: sans-serif;
	  line-height: 1.15;
	  -webkit-text-size-adjust: 100%;
	}
body {
		background-color: #ffffff;
		text-transform: uppercase;
		font-family: "notcouriersansregular";
}
nav {
		position: fixed;
		z-index: 4;
		margin-top: 1%;
		margin-left: 2%;
		background-color: transparent;
		font-family: "notcouriersansregular";
}
content {
	margin-top: -13%;
	z-index: 2;
	position: fixed;
	padding: 1%;
	background-color: #ffffff;
	
}
object {
  z-index: 2;
  position: fixed;
  min-width: 98.5%;
  min-height: 115%;
	
}

	/* TEXT FORMATTING */
a {
		text-decoration: none;
	}

	/* RESPONSIVE */

/* 			================		4K MEDIA  		================	*/	
@media screen and (min-width: 2000px){
		html {
			font-size: 2vw;
}
		aside {
			position: absolute;
			display: block;
			margin: auto;
			top: 20%;
			left: 4%;
			max-width: 60%;
			height: auto;
			border: 0px;
}
	.web {
		margin-left: 2.25%;
		max-width: 100%;
}
	.bdy {
		font-size: 1vw!important;
}
		nav {
			position: relative;	
			float: auto;
			margin-top: -15px;
			margin-left: 0;
			padding-top: 2%;
			padding-bottom: 2%;
}
}
	