@font-face {
    font-family: "Goldoni";
    src: url('goldoni.woff2') format('woff2'),
         url('goldoni.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "notcouriersansregular";
    src: url('notcouriersansregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

	}
@font-face {
    font-family: "Malnorsans";
    src: url("malnorsansdemo-thin.woff2") format("woff2"),
         url("malnorsansdemo-thin.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
	background-color: #ffffff;
	text-transform: uppercase;
	font-family: "notcouriersansregular";
    overflow: hidden;
}
nav {
		position: fixed;
		z-index: 4;
		margin-top: 1%;
		margin-left: 2%;
		background-color: transparent;
		font-family: "notcouriersansregular";
}
content {
	z-index: 2;
	position: static;
	padding: 1%;
	background-color: #ffffff;
	font-size: 22px;
}
object {
  z-index: 2;
  position: fixed;
  margin-top: -150px;
  min-width: 98.5%;
  min-height: 115%;
}
/* TEXT FORMATTING */
a {
	font-size: 16px;
	color: #000000;
	background-color: #ffffff;
	text-decoration: none;
}
/* GALLERY */
* {
  box-sizing: border-box;
}
/* 			================		LARGE MEDIA  		================	*/					
@media screen and (min-width: 1400px) and (max-width: 1550px) {
		html {
			font-size: 2vw;
}
		aside {
			position: absolute;
			display: block;
			margin: auto;
			top: 20%;
			width: 100%;
			height: auto;
}
		content {	
			display: block;
			position: relative;	
			margin-top: -20px;
			float: auto;
			width: 100%;
			height: auto;	
}
		object {
	  z-index: 2;
 	 position: fixed;
	 margin-top: -235px!important;
		width: 100%;
}
		nav {
			position: relative;	
			float: auto;
			margin-top: -15px;
			margin-left: 0;
			padding-top: 2%;
			padding-bottom: 1%;
}
}
/*			================		MEDIUM MEDIA  		================	*/
@media screen and /*(min-width: 702px)*/(min-width: 1px) and (max-width: 1400px) {
		html {
			font-size: 2vw;
}
		content {	
			display: block;
			position: relative;	
			margin-top: -20px;
			margin-left: -440px!important;
			float: auto;
			width: 200%;
			padding: 3%;
			overflow: hidden!important;
}
			object {
		 	 z-index: 2;
 			 position: fixed;
			 margin-top: -220px!important;
			min-width: 200%;
			overflow: hidden!important;
}
		nav {
			position: relative;	
			float: auto;
			margin-top: -15px;
			margin-left: 0;
			padding-top: 2%;
			padding-bottom: 1%;
			min-width: 100%;
}
}
/*			================		SMALL MEDIA  		================						
@media screen and (min-width: 1px) and (max-width: 702px) {
		html {
		font-size: 1.75vh;
}
		content {	
		position: absolute;
		float: auto; 
		padding-left: -2000px;
	}
	
			object {
		 	 z-index: 2;
 			 position: fixed;
			 margin-top: -300px!important;
				padding-left: -2000px;
			 width: 200%;
			overflow: hidden!important;;
}
}
		nav {
			position: absolute;	
			float: auto;
			padding-top: 2%;
			padding-bottom: 2%;
			margin-left: 20px;
			margin-top: 20px;
			background-color: transparent!important;
			z-index: 4!important;

}*/