/* ================= FONTS ================= */
@font-face {
    font-family: "opensanslight";
    src: url("OpenSans-Light-webfont.woff") format("woff");
    font-style: normal;
}
@font-face {
    font-family: "opensans";
    src: url("OpenSans-Regular-webfont.woff") format("woff");
    font-style: normal;
}
@font-face {
    font-family: "opensanssemibold";
    src: url("OpenSans-SemiBold-webfont.woff") format("woff");
    font-style: normal;
}
@font-face {
    font-family: "opensansbold";
    src: url("OpenSans-Bold-webfont.woff") format("woff");
    font-style: normal;
}
@font-face {
    font-family: "opensansextrabold";
    src: url("OpenSans-ExtraBold-webfont.woff") format("woff");
    font-style: normal;
}
@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url("PlayfairDisplay-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* ================= ANIMATION ================= */
@keyframes fadeInUp {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadeInUp2 {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.fadeInUp-animation2 {
	opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    animation: fadeInUp2 1s forwards;
}

/* ================= HEADER ================= */
h1 {
    font-size: 16vh;
    font-family: "Playfair Display";
	font-style: italic;
	font-weight: 800;
    margin: -2vh 0 1vh 0;
    animation: header ease 2s, bounceIn 2.28s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transition: all 0.7s;
    line-height: 1;
    padding: 0 0 1vw 0;
}

h1:hover {
    color: #55a49f;
    animation: header ease 2s, bounceIn 2.28s infinite;
}

h2 {
    font-size: 8vh;
    font-family: "opensansextrabold";
    margin: 0;
    animation: header ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
}
h3 {
    background-color: #81D7D3;
    width: 100%;
    font-size: 4vh;
    font-family: "Playfair Display";
	font-weight: 100;
    letter-spacing: .3vw;
    line-height: 6vh;
	text-indent: 1vw;
    margin: 0 0 3vw 0;
    padding: 0 .5vw;
    animation: header ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* ================= TEXT ================= */
b {
    font-family: "opensansbold";
    color: #1A1A1B;
}

p {
    font-size: 2vh;
    font-family: "opensans";
    word-spacing: .25vw;
	text-transform: none;
    line-height: 2vw;
    margin: 0;
	padding: 0 2vw;
}

ul {
    font-size: 2vh;
    font-family: "opensanssemibold";
    line-height: 1.8vw;
    word-spacing: .25vw;
    text-transform: uppercase;
    margin: 0;
    padding: 4vh 0;
    width: 85%;
    list-style-type: none;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

li::before {
    content: "✽";
    color: #ffffff;
    font-size: 1.3vw;
    padding: 0 1vw;
    display: inline-block;
    animation: rotate 5s linear infinite;
}

li {
    background-color: #81D7D3;
    margin: 0.75vw 0;
    transition: all 0.7s;
}

li:hover {
    transform: scale(1.1);
}

/* ================= LINKS ================= */
a {
    text-decoration: none;
    transition: all 0.7s;
}

a:hover {
    transform: scale(1.1);
}

a.contact {
    font-size: 8vh;
    color: #ffffff;
    position: relative;
}

a.contact:hover {
    color: #81D7D3;
}

a.contact::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1vh;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

a.contact:hover::after {
    transform: scaleX(1);
}

a.gal {
    font-size: 8vh;
    color: #000000;
    text-transform: uppercase;
    position: relative;
}

a.gal:hover {
    color: #55a49f;
}

a.gal::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1vh;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

a.gal:hover::after {
    transform: scaleX(1);
}

a.nav {
    color: #000000;
    font-size: 2vh;
    font-family: "opensans";
    padding: 0 5.9vw;
}

a.nav:hover {
    color: #55a49f;
}

/* ================= IMAGES ================= */
img {
    padding: 0;
}

img.svg {
    width: 5vw;
    height: auto;
    margin-right: 0.5vw;
    vertical-align: middle;
}
img.logo {
    width: 6vw;
    height: auto;
    vertical-align: middle;
}
img.lctn {
    width: 3.75vw;
    height: auto;
    margin-right: 3.7vw;
	margin-left: 0.5vw;
    vertical-align: middle;
}
.full-width-image {
    width: 100%; 
    height: auto; 
    display: block;
}

/* ================= GENERAL ================= */
html {
    font-family: "opensans";
    text-transform: uppercase;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-size: 3vh;
    line-height: 1.15;
    word-spacing: 1.5vw;
}

nav {
    font-family: "opensanssemibold";
    background: linear-gradient(45deg, #ffffff -30%, #81D7D3);
    color: #1A1A1B;
    margin: auto;
    padding: 1vw;
    text-align: center;
    transition: all 0.7s;
    position: sticky; /* Ensure this is set */
    top: 0; /* Add this line */
    z-index: 1000; /* Optional: set a z-index */
}
header {
    background-color: #1A1A1B;
    color: #ffffff;
    margin: auto;
    padding: 4vw 12vw;
}

article {
    background-color: #ffffff;
    color: #1A1A1B;
    margin: auto;
    padding: 6vw 20.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    background-color: #1A1A1B;
    color: #ffffff;
    margin: auto;
    padding: 4vw 12vw;
	position: relative;
	display: block;
}

sectionb {
    animation: gradientShift 5s ease infinite;
    background: linear-gradient(45deg, #ffffff -20%, #81D7D3 60%, #55a49f);
    color: #1A1A1B;
    margin: auto;
    padding: 4vw 12vw;
	position: relative;
	display: block;
	width: auto; 
    transition: all 0.7s 
}

sectionc {
	background-color: #ffffff;
    color: #ffffff;
    margin: auto;
	width: auto; 
	position: relative;
	display: block;
}

dotlottie-player {
    margin: auto;
    padding: 0;
}

dot {
    background-color: #ffffff;
    color: #1A1A1B;
    margin: auto;
    padding: 0;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ================= SMALL MEDIA ================= */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 12vh!important;
		margin-bottom: 3vh!important;
    }
    
    a.nav {
        padding: 0 2vw;
    }
    
    a.contact, a.gal {
        font-size: 4vh!important;
    }
    
    h2 {
        font-size: 4vh!important;
    }

	h3 {
        font-size: 3vh!important;
		margin-bottom: 3vh!important;
    }
	
    p {
        font-size: 2vh;
        line-height: 10vw;
    }

    ul {
        font-size: 2vh;
        font-family: "opensansbold";
        line-height: 10vw;
        width: 100%;
		padding: 2vh 0;
    }
    
    li::before {
        font-size: 6vw;
    }
    
    li {
        margin: 2vh 0;
    }
    
    article {
        padding: 12vw 6vw;
        max-width: 90%;
        outline-offset: -4vw;
    }
    section {
    padding: 12vw 6vw;
}

	sectionb {
    padding: 12vw 6vw;
}
	
	header {
    padding: 12vw 6vw;
}
	
    img.svg {
        width: 10vw;
    }
    
    img.lctn {
        width: 6.5vw;
		padding: 0 2vw;
    }
    
    blocke {
        max-width: 90%;
    }
}
