@font-face {
    font-family: "Goldoni";
    src: url('goldoni.woff2') format('woff2'),
         url('goldoni.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "notcouriersansregular";
    src: url('notcouriersansregular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #ffffff;
	text-transform: uppercase;
	font-family: "notcouriersansregular";
}

nav {
	position: fixed;
	margin-left: 14px;
	width: 300px;
	background-color: #000000;
	outline: 5px double #ffffff;
	outline-offset: -6px;
}

aside {
	position: fixed;
	margin-left: 45px;
	margin-top: 140px;
	width: 240px;
	height: 400px;
	background-image: url("sideimg.png");
	outline: 5px double #ffffff;
	outline-offset: -6px;
}

footer {
	position: fixed;
	margin-top: 400px;
	width: 240px;
	height: 50px;
	font-size: 14px;
	text-align: center;
	text-transform: none;
}

header {
	position: fixed;
	z-index: 2;
	margin-left: 378px;
	margin-top: 20px;
	width: 879px;
	height: 20px;
	background: none;
	text-align: right;
	font-size: 60px;
	font-family: "Goldoni";
}

content {
	position: absolute;
	margin-left: 360px;
	margin-top: 120px;
	padding: 30px;
	width: 840px;
	background-color: #ffffff;
 	border: 18px solid #000000;
	outline: 18px double #000000;
	outline-offset: 5px;
	font-size: 22px;
}

.ovrflwcntrl { 
	position: fixed;
	z-index: 1;
	margin-left: 885px;
	margin-top: -10px;
	padding: 20px;
	width: 420px;
	height: 60px;
	background-color: #ffffff;
}



/* TEXT FORMATTING */
a {
	font-size: 18px;
	color: #000000;
	background-color: #ffffff;
	line-height: 1.5;
	text-decoration: none;
	font-weight: 900;
}

a.hdr1 {
	z-index: 3;
	margin-right: -58px;
	margin-top: -5px;
	color: #000000;
	font-weight: 100;
	text-decoration: underline #000000;
	font-size: 60px;
}

p.bdy {
	text-indent: 20px;
}

p.bdy:first-letter {
	font-size: 30px;
}

/* DROPDROWN MENU */
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 3px;
  font-family: "Courier";
  color: #f3f3f3;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.dropdown-container {
  display: none;
  background-color: #191919;
  padding: 5px 5px 15px 25px;
  border-top: 1px solid #ffffff;
  width: 260px;
  height: 75px;
  margin-left: 5px;
}